.btn-group-custom {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.chart-container {
    max-width: 400px;
    width: 100%;
    height: 100%;
    margin: 0 50px;
}
.pie-chart {
    margin-bottom: 20px;
}