<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playground.admin_page.main.order.dao.OrderMapper">
    <resultMap id="orderResultMap" type="com.playground.admin_page.main.order.dto.order.OrderDto">
        <id property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderStatus" column="order_status"/>
        <result property="totalPrice" column="total_price"/>
    </resultMap>
    <select id="findAllOrder" resultMap = "orderResultMap">
       select * from orders;
    </select>
</mapper>