<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playground.admin_page.main.order.dao.OrderMapper">
    <resultMap id="orderResultMap" type="com.playground.admin_page.main.order.dto.order.OrderDto">
        <id property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderStatus" column="order_status"/>
        <result property="totalPrice" column="total_price"/>
    </resultMap>
    <select id="findAllOrder" resultMap = "orderResultMap">
       select * from orders;
    </select>
<!---->
    <select id="findByStatus" resultMap = "orderResultMap">
        select *
        from orders
        where order_status = #{status};
    </select>


    <resultMap id="productDetails" type="com.playground.admin_page.main.order.dto.order.OrderDetailDto">
        <id property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderStatus" column="order_status"/>
        <result property="totalPrice" column="total_price"/>
        <collection property="products" ofType="com.playground.admin_page.main.order.dto.order.ProductDetailDto">
            <id property="orderProductId" column="order_product_id"/>
            <result property="orderId" column="order_id"/>
            <result property="productId" column="product_id"/>
            <result property="quantity" column="quantity"/>
            <result property="productName" column="product_name"/>
            <result property="productPrice" column="price"/>
        </collection>
    </resultMap>
    <select id = "productDetail" resultMap = "productDetails">
        select o.*, op.*,p.product_name,p.price
        from orders o join order_product op
        on o.order_id= op.order_id
        join product p
        on p.product_id  = op.product_id
        where op.order_id=#{orderId};
    </select>
</mapper>