<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playground.admin_page.main.user.model.dao.UserMapper">
    <resultMap id="infoDtoMap" type="com.playground.admin_page.main.user.model.dto.InfoDto">
        <id column="user_no" property="userNo"/>
        <result column="user_name" property="userName"/>
        <result column="user_email" property="userEmail"/>
        <result column="address" property="address"/>
        <result column="user_pet" property="userPet"/>
        <result column="user_email_able" property="userEmailAble"/>
        <result column="join_date" property="joinDate"/>
        <result column="last_connect" property="lastConnect"/>
        <result column="dormant_user" property="dormantUser"/>
    </resultMap>

    <select id="findAll" resultMap="infoDtoMap">
        SELECT
        *
        FROM
        user
        where
        dormant_user != 'O'
        ORDER BY
        user_no
    </select>
    <select id="findById" resultMap="infoDto">
        select
            *
        from
            user
        where
            user_no = #{userNo}
    </select>
    <select id="findByPet" resultMap="infoDto">
        select
        *
        from
        user
        where
        dormant_user != 'O' and
        user_pet = #{userPet}
    </select>
    <select id="findByEmailAble" resultMap="infoDto">
        select
        *
        from
        user
        where
        dormant_user != 'O' and
        user_email_able = 'Y'
    </select>
    <update id="setDormant">
        UPDATE user
        SET dormant_user = '1'
        WHERE last_connect < DATE_SUB(NOW(), INTERVAL 36 MONTH)
    </update>
</mapper>
