
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>

    <title>FindAllOrder</title>


    <link href="/admin/css/orderCss/order.css" rel = "stylesheet">

</head>

<body id="page-top">
<main layout:fragment = "main">
<!-- Page Wrapper -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">모든 주문 내역 조회</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">주문 내역 검색</h6>
                    </div>
                    <div class="card-body">
                        <form action="listByStatus" method="get" style="display: flex">
                            <div class="tbl_frm01">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th scope="row">주문상태</th>
                                        <td>
                                            <label><input type="radio" name="status" value="" checked="checked"> 전체</label>
                                            <label><input type="radio" name="status" value="PENDING"> 입금전</label>
                                            <label><input type="radio" name="status" value="PAID"> 입금후</label>
                                            <label><input type="radio" name="status" value="DELIVERING"> 배송중</label>
                                            <label><input type="radio" name="status" value="COMPLETE"> 배송완료</label>
                                            <label><input type="radio" name="status" value="CANCEL"> 주문취소</label>
                                            <label><input type="radio" name="status" value="REFUND"> 환불</label>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <span class="btn_confirm">
                                <input type="submit" value="검색" class="btn_medium">
                            </span>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>주문 번호</th>
                                    <th>고객 번호</th>
                                    <th>주문 일시</th>
                                    <th>주문 상태</th>
                                    <th>주문 가격</th>
                                    <th>상세정보 보기</th>
                                    <th>부가 기능</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orders}">
                                    <td th:text="${order.orderId}"></td>
                                    <td th:text="${order.userId}"></td>
                                    <td th:text="${order.orderDate}"></td>
                                    <td th:text="${order.orderStatus.getStatus()}"></td>
                                    <td th:text="${#numbers.formatInteger(order.totalPrice, 3, 'COMMA')}"></td>
                                    <td>
                                        <a th:href="@{|/order/detail/${order.orderId}|}">
                                            <button type="button">상세정보 보기</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:if="${order.orderStatus.getStatus() == '입금전'}"
                                           th:href="@{|/order/informationProduct/${order.orderId}|}">
                                            <button type="button">재고확인</button>
                                        </a>
                                        <a th:if="${order.orderStatus.getStatus() == '주문취소'}"
                                           th:href="@{|/order/cancelInformation|}">
                                            <button type="button">취소정보</button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
</main>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="js">
    $(document).ready(function(){
        $("#sideOrder").addClass("active");
    });
</script>
</body>

</html>