<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
<h1>All Orders</h1>
<table>
    <thead>
    <tr>
        <th>주문 번호</th>
        <th>고객 번호</th>
        <th>주문 일시</th>
        <th>주문 상태</th>
        <th>주문 가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.orderId}"></td>
        <td th:text="${order.userId}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.totalPrice}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>