<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body>
    <main layout:fragment="main" class="container">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <!--카드 헤더-->
                <div class="card-header py-3">
                    <!--카드 타이틀-->
                    <h6 class="m-0 font-weight-bold text-primary">상태별 주문 조회</h6>
                </div>
                <!--카드 내용-->
                <div class="card-body">
                    <!--테이블 컨테이너-->
                    <div class="table-responsive">
                        <!--테이블-->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>주문 번호</th>
                                    <th>고객 번호</th>
                                    <th>주문 일시</th>
                                    <th>주문 상태</th>
                                    <th>주문 가격</th>
                                    <th>상세정보 보기</th>
                                    <th>부가 기능</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="order : ${orders}">
                                    <td th:text="${order.orderId}"></td>
                                    <td th:text="${order.userId}"></td>
                                    <td th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}"></td>
                                    <td th:text="${order.orderStatus.getStatus()}"></td>
                                    <td th:text="${#numbers.formatInteger(order.totalPrice, 3, 'COMMA')}"></td>
                                    <td>
                                        <a th:href="@{|/order/detail/${order.orderId}|}" class="btn btn-primary">상세보기</a>
                                    </td>
                                    <td>
                                        <a th:if="${order.orderStatus.getStatus() == '입금전'}"
                                           th:href="@{|/order/informationProduct/${order.orderId}|}" class="btn btn-primary">재고확인</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script layout:fragment="js">
        $(document).ready(function(){
            $("#sideSales").addClass("active");
        });
    </script>
</body>
</html>
