<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <!--카드 헤더-->
            <div class="card-header py-3">
                <!--카드 타이틀-->
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <!--카드 내용-->
            <div class="card-body">
                <!--테이블 컨테이너-->
                <div class="table-responsive">
                    <!--테이블-->

                </div>
            </div>
        </div>
    </div>
</body>
</html>