<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.playground.admin_page.main.refund.model.dao.RefundMapper">
    <!-- 환불 목록 조회 -->
    <select id="findRefundList" resultType="refundDto">
        select
            *
        from
            refund
    </select>

    <!-- 환불 목록 상세 조회 -->
    <select id="findRefundDetailList" resultType="refundDto">
        select
            *
        from
            refund
        where
            refund_id = #{refundId}
    </select>

    <!-- 처리 상태 수정 -->
    <update id="updateProcessStatus" parameterType="map">
        update
            refund
        set
            process_status = #{processStatus},
            refund_yn = #{refundYn}
        where
            order_id = #{orderId};
    </update>

    <!-- 철회 완료 상품 정보 저장 -->
    <insert id="insertRefundProduct" useGeneratedKeys="true" keyProperty="refundProductId">
        insert into
            refund_product (order_product_id, refund_id)
        values
        <foreach collection="list" item="prod" separator=",">
            (#{prod.orderProductId}, #{prod.refundId})
        </foreach>
    </insert>

    <!-- 철회된 상품 정보 조회 -->
    <select id="findProductForRefund" resultType="RefundProductDto">
        select
            order_product_id
        from
            order_product
        where
            order_id = #{orderId}
    </select>

    <!-- 철회 여부 완료로 수정 -->
    <update id="updateProdReturnStatus">
        update
            refund
        set
            prod_return_yn = 'Y'
        where
            order_id = #{orderId};
    </update>

    <!-- 철회 여부 확인 -->
    <select id="checkProdReturnStatus">
        select
            prod_return_yn
        from
            refund
        where
            order_id = #{orderId}
    </select>

    <select id="searchRefundData" resultType="int">
        select
            count(refund_id)
        from
            refund_product rp join order_product op
                using(order_product_id)
        where
            order_id = #{orderId}
    </select>

</mapper>