<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <title>Refund</title>
</head>

<body id="page-top">
    <main layout:fragment="main">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">상품 정보 입력</h6>
                </div>
                <div class="card-body">
                    <form th:action="@{/product/create}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="productName">상품명</label>
                            <input type="text" class="form-control" id="productName" name="productName" required>
                        </div>
                        <div class="form-group">
                            <label for="category">카테고리</label>
                            <input type="text" class="form-control" id="category" name="category">
                        </div>
                        <div class="form-group">
                            <label for="productDesc">상품 설명</label>
                            <textarea class="form-control" id="productDesc" name="productDesc" rows="3" style="resize: none"></textarea>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="price">가격</label>
                                <input type="number" class="form-control" id="price" name="price" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="amount">수량</label>
                                <input type="number" class="form-control" id="amount" name="amount" required>
                            </div>
                        </div>
                        <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <label class="custom-control-label" for="isDisplay">상품 진열</label>
                                    <input type="hidden" name="isDisplay" value="false" />
                                    <input type="checkbox" class="custom-control-input" id="isDisplay" name="isDisplay" value="true">
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="productStatus">상품 상태</label>
                            <select class="form-control" id="productStatus" name="productStatus">
                                <option value="판매중">판매중</option>
                                <option value="단종">단종</option>
                                <option value="품절">품절</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="productImage">상품 이미지</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="productImage" name="imageFile" accept="image/*">
                                <label class="custom-file-label" for="productImage">파일 업로드</label>
                            </div>
                        </div>
                        <div class="btn-group-custom">
                            <button type="submit" class="btn btn-primary">등록</button>
                            <a href="/admin/product/list" class="btn btn-secondary">취소</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script layout:fragment="js">
        $(document).ready(function(){
            $("#sideProduct").addClass("active");
        });

        document.querySelector('.custom-file-input').addEventListener('change', function (e) {
            const fileName = e.target.files[0].name;
            const nextSibling = e.target.nextElementSibling;
            nextSibling.innerText = fileName;
        });
    </script>
</body>

</html>