<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<head>
    <title>상품관리</title>
</head>

<body id="page-top">
    <main layout:fragment="main">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">상품 목록</h6>
                    <div>
                        <a href="/admin/product/create" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span class="text">상품 등록</span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable">
                            <thead>
                            <tr>
                                <th>상품 번호</th>
                                <th>상품명</th>
                                <th>카테고리</th>
                                <th>상품 설명</th>
                                <th>가격</th>
                                <th>수량</th>
                                <th>상세</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product, stat : ${products}" th:object="${product}">
                                <td th:text="${product.productId}"></td>
                                <td th:text="${product.productName}"></td>
                                <td th:text="${product.category}"></td>
                                <td th:text="${product.productDesc}"></td>
                                <td th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')}"></td>
                                <td th:class="${product.amount <= 10 ? 'text-danger font-weight-bold' : ''}" th:text="${product.amount}"></td>
                                <td>
                                    <a class="btn btn-primary"
                                       th:href="@{/product/detail/{id}(id=${product.productId})}">상세보기</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </main>
</body>

</html>