<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 조회</title>
</head>
<body>

    <h2 class="m-3">회원 조회</h2>

    <table class="table">
        <thead>
        <tr>
            <th>회원 번호</th>
            <th>회원 이름</th>
            <th>회원 이메일</th>
            <th>회원 주소</th>
            <th>반려동물</th>
            <th>이메일 수신 동의</th>
            <th>가입 날짜</th>
            <th>마지막 접속 날짜</th>
            <th>휴면계정 여부</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="user, stat : ${users}" th:object="${user}">
            <td th:text="*{userNo}"></td>
            <td th:text="*{userName}"></td>
            <td th:text="*{userEmail}"></td>
            <td th:text="*{address}"></td>
            <td th:text="*{userPet}"></td>
            <td th:text="*{joinDate}"></td>
            <td th:text="*{lastConnect}"></td>
            <td th:text="*{dormantUser}"></td>

        </tr>
        </tbody>
    </table>
</main>

</body>
</html>