<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <aside th:fragment="asideFragment">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 100%">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/main}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img th:src="@{/img/playground-logo.png}" alt="animal playground logo">
                </div>
                <div class="sidebar-brand-text mx-3">Playground Admin</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">목록</div>

            <!-- Nav Item - 상품 관리 -->
            <li class="nav-item" id="sideProduct">
                <a class="nav-link" th:href="@{/product/list}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>상품관리</span></a>
            </li>

            <!-- Nav Item - 주문 관리 -->
            <li class="nav-item" id="sideOrder">
                <a class="nav-link" th:href="@{/order/findAllOrder}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>주문관리</span></a>
            </li>

            <li class="nav-item" id="sideSales">
                <a class="nav-link" th:href="@{/order/findComplete}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>매출 및 판매현황 관리</span></a>
            </li>

            <!-- Nav Item - 교환 -->
            <li class="nav-item" id="sideRefund">
                <a class="nav-link" th:href="@{/refund/refundList}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>환불관리</span></a>
            </li>


            <!-- Nav Item - 회원관리 -->
            <li class="nav-item" id="sideUser">
                <a class="nav-link" th:href="@{/user/list}">
                    <i class="fas fa-fw fa-table"></i>
                    <span>회원관리</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <div class="text-center d-none d-md-block" style="margin-top: auto; margin-bottom: 30px">
                <a class="btn btn-primary" th:href="@{/login/logout}">로그아웃</a>
            </div>
        </ul>
    </aside>
</body>
</html>