<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <title>Refund</title>
</head>

<body id="page-top">
    <main layout:fragment="main">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Refund List</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>주문번호</th>
                                    <th>신청일시</th>
                                    <th>처리상태</th>
                                    <th>상세</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="refund, stat : ${refundList}" th:object="${refund}">
                                    <td th:text="*{orderId}">주문번호</td>
                                    <td th:text="*{#temporals.format(applicationDate, 'yyyy-MM-dd HH:mm')}">신청일시</td>
                                    <td th:text="*{processStatus}">처리상태</td>
                                    <td><button type="button" th:onclick="|location.href='@{/refund/refundDetailList/{refundId}(refundId=*{refundId})}';|">상세보기</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
<!--    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--        aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">×</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>-->
<!--                <div class="modal-footer">-->
<!--                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
<!--                    <a class="btn btn-primary" th:href="@{login}">Logout</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <script layout:fragment="js">
        $(document).ready(function(){
            $("#sideRefund").addClass("active");
        });
    </script>
</body>
</html>