<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <title>RefundDetail</title>
</head>

<body id="page-top">
    <main layout:fragment="main">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">환불 상세</h6>
                </div>
                <div class="card shadow">
                    <div class="card-body" th:object="${refundDetailList}">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>주문 번호:</strong> <span th:text="*{refundId}"></span></p>
                                <p><strong>신청일:</strong> <span th:text="*{#temporals.format(applicationDate, 'yyyy-MM-dd')}"></span></p>
                                <p><strong>환불 여부:</strong>
                                    <span th:if="*{refundYn}" class="badge badge-success" th:text="*{refundYn}"></span>
                                    <span th:unless="*{refundYn}" class="badge badge-secondary">미정</span>
                                </p>
                                <p><strong>환불 처리 상태:</strong>
                                    <span th:text="*{processStatus}" class="badge badge-info"></span>
                                </p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <h5 class="mb-3">설명</h5>
                                <p><strong>사유:</strong> <span th:text="*{refundReasonType}"></span></p>
                                <label for="refund-reason-detail"><strong>상세 내용</strong></label>
                                <br>
                                <textarea
                                    style="
                                        border: 1px solid #000;
                                        width: 300px; height: 150px;
                                        resize: none;"
                                    th:text="*{refundReasonDetail}"
                                    readonly
                                    id="refund-reason-detail"
                                ></textarea>
                            </div>
                        </div>
                        <div class="btn-group-custom">
                            <a class="btn btn-primary" th:if="|${refundDetailList.processStatus == '처리완료'}|" hidden="until-found">관리</a>
                            <a class="btn btn-primary" th:unless="|${refundDetailList.processStatus == '처리완료'}|" th:onclick="|location.href='@{/refund/updatePage/{refundId}(refundId=*{refundId})}';|">관리</a>
                            <a class="btn btn-secondary" th:onclick="|location.href='@{/refund/refundList}';|">목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script layout:fragment="js">
        $(document).ready(function(){
            $("#sideRefund").addClass("active");
        });

        const updateResult = `[[${updateResult}]]`;
        updateResult && alert(updateResult);
    </script>
</body>

</html>