<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout/default}">

<head>
    <title>update</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
</head>

<body id="page-top">
    <main layout:fragment="main">
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Refund Detail</h6>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <form th:action="@{/refund/update}" method="post" th:object="${refundDetailList}">
                            <input type="hidden" name="refundId" th:value="*{orderId}">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>주문 번호:</strong> <span th:text="*{orderId}"></span></p>
                                    <p><strong>신청 일시:</strong> <span th:text="*{#temporals.format(applicationDate, 'yyyy-MM-dd HH:mm')}"></span></p>
                                    <p><strong>환불 여부:</strong>
                                        <select name="refundYn" th:value="*{refundYn}">
                                            <th:block th:if="*{refundYn == '확정'}">
                                                <option value="확정" selected>확정</option>
                                                <option value="반려">반려</option>
                                            </th:block>
                                            <th:block th:unless="*{refundYn == '확정'}">
                                                <option>확정</option>
                                                <option value="반려" selected>반려</option>
                                            </th:block>
                                        </select>
                                    </p>
                                    <p><strong>환불 처리 상태:</strong>
                                        <select name="processStatus" th:value="*{processStatus}">
                                            <th:block th:if="*{processStatus == '처리대기'}">
                                                <option value="처리대기" selected>처리대기</option>
                                                <option value="처리중">처리중</option>
                                                <option value="처리완료">처리완료</option>
                                            </th:block>
                                            <th:block th:if="*{processStatus == '처리중'}">
                                                <option value="처리대기">처리대기</option>
                                                <option value="처리중" selected>처리중</option>
                                                <option value="처리완료">처리완료</option>
                                            </th:block>
                                        </select>
                                    </p>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <h5 class="mb-3">Description</h5>
                                    <p><strong>사유:</strong> <span th:text="*{refundReasonType}"></span></p>
                                    <p><strong>상세 내용</strong></p>
                                    <textarea style="border: 1px solid #000; width: 300px; height: 150px; resize: none;" th:text="*{refundReasonDetail}" readonly></textarea>
                                </div>
                            </div>
                            <div class="mb-4">
                                <input class="btn btn-primary" type="submit" value="수정">
                                <a class="btn btn-secondary" th:onclick="|location.href='@{/refund/refundDetailList/{refundId}(refundId=*{refundId})}';|">이전</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" th:href="@{login}">Logout</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>